{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-9"> <!-- Changed to col-md-9 -->
        <h2>About SA Greys</h2>
        <p>Southern Arizona Greyhound Adoption is a dedicated group of veteran greyhound adopters and volunteers, who are committed to seeking the very best forever homes for greyhounds in our care.

        <p>Located in the Tucson area, we primarily serve Southern Arizona.

        <p>We are non-profit and totally volunteer run, so every dollar goes to the care and promotion of the dogs. We are a registered 501(c)(3) organization (EIN 45-4526305).

        <p>We strive to provide the very best adoption experience and follow-up. Successful integration into forever homes is our primary goal. Our organization is focused solely on a hound’s journey after leaving the racing Industry. Our mission is to prepare them, medically and socially, to be pets and to place them in loving forever homes. SA Greys does not take a position on greyhound racing.

        <p>Our volunteers seek to educate the public about the wonderful greyhound breed and what great companions they make after their racing careers are done.</p>       
    </div>
    <div class="col-md-3"> <!-- Changed to col-md-3 -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Table of Contents</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#section1">About SA Greys</a></li>
                    <li class="list-group-item"><a href="#section2">Bylaws</a></li>
                    <li class="list-group-item"><a href="#section3">Membership</a></li>
                    <li class="list-group-item"><a href="#section4">Privacy Notice</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="section1">About SA Greys</h3>
        <p>Southern Arizona Greyhound Adoption is a dedicated group of veteran greyhound adopters and volunteers, who are committed to seeking the very best forever homes for greyhounds in our care.

        <p>Located in the Tucson area, we primarily serve Southern Arizona.

        <p>We are non-profit and totally volunteer run, so every dollar goes to the care and promotion of the dogs. We are a registered 501(c)(3) organization (EIN 45-4526305).

        <p>We strive to provide the very best adoption experience and follow-up. Successful integration into forever homes is our primary goal. Our organization is focused solely on a hound’s journey after leaving the racing Industry. Our mission is to prepare them, medically and socially, to be pets and to place them in loving forever homes. SA Greys does not take a position on greyhound racing.

        <p>Our volunteers seek to educate the public about the wonderful greyhound breed and what great companions they make after their racing careers are done.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <a id="section2" class="btn btn-primary btn-lg" href="https://drive.google.com/file/d/1DvxqRQIJSXrZvP-fN__Baul4kCAq0Zgr/view" role="button">SA Greys Bylaws</a>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="section3">Membership</h3>
        <p>Southern Arizona Greyhound Adoption is a member based, and member run organization.  Members of the Board of Directors are elected by the membership at our Annual Meeting in January, each year.

        <p>Memberships are annual and run from January 1 through December 31.  Members must be in good standing in order to receive ballots and vote for board members.

        <p>SA Greys Adopters become Honorary Members by virtue of their adoption.  Honorary Members are invited and encouraged to participate in all activities of the organization, attend board meetings, and contribute their ideas and opinions.  Honorary Members do not receive voting rights, but may become full members at any time by becoming an Annual Member.
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="section4">Privacy Notice</h3>
        <p>We take our members’ and associates’ privacy very seriously.  It is against Southern Arizona Greyhound Adoption’s policy to share, rent, sell or make our members, supporters or volunteers’ names or any other personal information available to third parties.

        <p>Unless disclosure is required by law, we assure you that your personal information will be kept confidential by this organization.
    </div>
</div>
{% endblock %}
