{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-9"> <!-- Changed to col-md-9 -->
        <h2>Events</h2>
        <p>The SA Greys Board meets on the second Sunday of select months: January, February, April, July, September, October, November and December. The meeting is open to all, so if you have the time and the inclination, you can sit in on a board meeting and watch the Board members make decisions and plans for the operation of the organization.  </p>
    </div>
    <div class="col-md-3"> <!-- Changed to col-md-3 -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Table of Contents</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#section1">MotoSonora Meet up</a></li>
                    <li class="list-group-item"><a href="#section2">Tucson Roadrunners night</a></li>
                    <li class="list-group-item"><a href="#section3">Board Meetings</a></li>
                    <li class="list-group-item"><a href="#section4">Meet & Greets</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="section1">MotoSonora Meet up</h3>
        <p>Southern Arizona Greyhound Adoption and MotoSonora Brewing are partnering for a greyhound meetup on Saturday, March 23 from 2 to 4 p.m.</p>

        <p>Come on down and support an award-winning locally-owned brewery, enjoy the outdoor patio and Pizza Sonora food truck. Meet and chat with other adopters. Bring a hound mat. Non-alcoholic beverages are available. Hockey tickets will also be for sale for only $20 (reg $37) for the April event (details below). See you there. 1015 S. Park Ave, Tucson 85719. Free parking in back. (No small dogs, please.)</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="section2">Tucson Roadrunners Charity Partner of the Night event</h3>
        <p>Roadrunners Hockey Hosts the Hounds in Tucson on Friday, April 19 at 7 p.m. Tickets are $20 and the proceeds go to SA Greys. <a href="https://sagreys.networkforgood.com/events/67319-tucson-roadrunners-charity-partner-of-the-night?fbclid=IwAR36NnvCMzxp9VxqOrfDbbRop4G0KCymdTclcRbaDpl2O8Ksl0cbfnmd-8E" target="_blank">Buy tickets here</a>.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="section3">Board Meetings</h3>
        <p>Board meetings are open and all are welcomed!</p>

        <p>2 p.m. MST:  Join the video meeting via <a href="https://meet.google.com/xzm-iegi-wxf" target="_blank">Google Meets</a> (on your computer). To join by phone, dial: +1 478-412-7445 and enter PIN: 214 073 985#</p>

        <ul>
            <li>April 14</li>
            <li>July 14</li>
            <li>Sept. 8</li>
            <li>Oct. 13</li>
            <li>Nov. 10</li>
            <li>Dec. 8</li>
        </ul>

        <p><a href="https://docs.google.com/document/d/1qXSkKRwrbuA44kjzgh04xfC4ksbzFxYfkT-gA6Ae938/edit" target="_blank">Meeting Minutes from prior Board Meetings</a></p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="section4">Meet and Greets</h3>
        <p><b>Second Sunday of the month: Scottsdale</b></p>
        <p>10 a.m. - 1 p.m. PetSmart 32633 N. Scottsdale Road (Summit Shopping Center) Bring your hounds, hound mat and a folding chair. Have hound related questions, bring those, too!  Contact Renae Lindley (925) 890-0149.</p>
        <p><b>Fourth Sunday of the month: Tucson</b> (alternating between two sites: February at Broadway and March at Oracle)</p>
        <p>10 a.m. - 1 p.m. PetSmart 7727 E. Broadway Blvd. (Broadway and Pantano) in February and at PetSmart at 4374 N. Oracle Road at Wetmore (across from the Tucson Mall) in March. Bring your hounds, hound mat and a folding chair. Have hound related questions, bring those, too!</p>
    </div>
</div>
{% endblock %}
