{% extends 'base.html' %}

{% block title %}Membership{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-9"> <!-- Changed to col-md-9 -->
        <h2>Membership</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget justo vel lorem placerat venenatis vel ut elit. Nam convallis sapien a vestibulum porta. Nulla vehicula arcu quis justo pharetra condimentum. Fusce interdum nec tortor a pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
        <p>Morbi efficitur ligula vitae nisi tincidunt interdum. Nullam nec lacus felis. Fusce vel mi et nibh feugiat gravida. Donec in ultrices ex, non eleifend odio. Duis rhoncus velit et sapien rutrum, quis ullamcorper nisi eleifend. Sed eleifend sapien eget elit facilisis, non lobortis nisl placerat.</p>
    </div>
    <div class="col-md-3"> <!-- Changed to col-md-3 -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Table of Contents</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#section1">Section 1</a></li>
                    <li class="list-group-item"><a href="#section2">Section 2</a></li>
                    <li class="list-group-item"><a href="#section3">Section 3</a></li>
                    <li class="list-group-item"><a href="#section4">Section 4</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="section1">Section 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget justo vel lorem placerat venenatis vel ut elit.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="section2">Section 2</h3>
        <p>Morbi efficitur ligula vitae nisi tincidunt interdum. Nullam nec lacus felis.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="section3">Section 3</h3>
        <p>Fusce vel mi et nibh feugiat gravida. Donec in ultrices ex, non eleifend odio.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="section4">Section 4</h3>
        <p>Duis rhoncus velit et sapien rutrum, quis ullamcorper nisi eleifend.</p>
    </div>
</div>
{% endblock %}
