{% extends 'base.html' %}

{% block title %}Support Us{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-9">
        <h2>Support Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget justo vel lorem placerat venenatis vel ut elit. Nam convallis sapien a vestibulum porta. Nulla vehicula arcu quis justo pharetra condimentum. Fusce interdum nec tortor a pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
        <p>Morbi efficitur ligula vitae nisi tincidunt interdum. Nullam nec lacus felis. Fusce vel mi et nibh feugiat gravida. Donec in ultrices ex, non eleifend odio. Duis rhoncus velit et sapien rutrum, quis ullamcorper nisi eleifend. Sed eleifend sapien eget elit facilisis, non lobortis nisl placerat.</p>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Table of Contents</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="#volunteer">Volunteer</a></li>
                    <li class="list-group-item"><a href="#membership">Membership</a></li>
                    <li class="list-group-item"><a href="#jackies-fund">Jackie's Fund</a></li>
                    <li class="list-group-item"><a href="#donate">Donate</a></li>
                    <li class="list-group-item"><a href="#payments">Payments</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="volunteer">Volunteer</h3>
        <p>Volunteer Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget justo vel lorem placerat venenatis vel ut elit.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="membership">Membership</h3>
        <p>Membership Morbi efficitur ligula vitae nisi tincidunt interdum. Nullam nec lacus felis.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="jackies-fund">Jackie's Fund</h3>
        <p>Jackie's Fund Fusce vel mi et nibh feugiat gravida. Donec in ultrices ex, non eleifend odio.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="donate">Donate</h3>
        <p>Donate Duis rhoncus velit et sapien rutrum, quis ullamcorper nisi eleifend.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-12">
        <h3 id="payments">Payments</h3>
        <p>Payments Nullam nec lacus felis. Fusce vel mi et nibh feugiat gravida. Donec in ultrices ex, non eleifend odio.</p>
    </div>
</div>
{% endblock %}
